.HomePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 4rem;
}

.HomePage-header > h1 {
  font-size: 5rem;
}

.HomePage-header > h1 > span {
  color: rgb(255, 175, 192);
}

.HomePage-about {
  font-size: 1.6rem;
  font-family: fantasy;
  color: aliceblue;
  left: 0;
}

.HomePage-credits {
  font-size: 1.2rem;
  text-align: right;
  color: aliceblue;
}

.HomePage-header {
  margin: 3rem;
}

.HomePage-pages-container{
  text-align: center;
  font-size: 1.6rem;
  color: red;
}

.HomePage-pages-container {
  margin: 1.5rem 1rem;
}

.pages-color {
  color: blue;
}

.HomePage-ttl-results {
  color: yellow;
}