.NavBar {
  padding: 2.5rem 0rem 0rem 5%;
  font-size: 3rem;
  font-weight: 700;
}

.NavBar span {
  color: rgb(36, 2, 11);
}

#blue {
  color:aqua;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}