.MoviesList-empty {
  font-size: 2rem;
  color: rgb(175, 212, 255);
}

.MoviesList {
  width: 75%;
  min-width: 50rem;
  margin: auto;
  text-align: center;
}

.MoviesList > li {
  display:inline-block;
  min-width: 15rem;
  max-width: 20rem;
}